<!DOCTYPE html>
<html lang="en">
<head>
    <title>Parameter Values Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Parameter Values Form</h1> 
    <!-- <form id="submitForm" action="https://lndstage.glider.ai/launchtest/Loep9WorgPyX4cAQC" method="POST" class="border border-secondary p-4"> -->
    <form id="submitForm" action="https://learnuat.glider.ai/launchtest/gySnkk8xEQqx7GXwm" method="POST" class="border border-secondary p-4">
   <!-- <form id="submitForm" action="https://learnuat.glider.ai/launchtest/858rZ7esSjgwxk293" method="POST" class="border border-secondary p-4"> -->
   <!-- <form id="submitForm" action="https://learnuat.glider.ai/launchtest/cNrfcxLsctZ89wud2" method="POST" class="border border-secondary p-4"> -->
            <div class="form-group">
                <label for="context_id">Context ID:</label>
                <input type="text" name="context_id" id="context_id" value="<%= params.find(p => p.key === 'context_id').value %>"  >
            </div>
            <div class="form-group">
                <label for="context_title">Context Title:</label>
                <input type="text" name="context_title" id="context_title" value="<%= params.find(p => p.key === 'context_title').value %>" >
            </div>
            <div class="form-group">
                <label for="launch_presentation_document_target">Launch Presentation Document Target:</label>
                <input type="text" name="launch_presentation_document_target" id="launch_presentation_document_target" value="<%= params.find(p => p.key === 'launch_presentation_document_target').value %>" >
            </div>
            <div class="form-group">
                <label for="launch_presentation_return_url">Launch Presentation Return URL:</label>
                <input type="text" name="launch_presentation_return_url" id="launch_presentation_return_url" value="<%= params.find(p => p.key === 'launch_presentation_return_url').value %>" >
            </div>
            <div class="form-group">
                <label for="lis_person_contact_email_primary">LIS Person Contact Email Primary:</label>
                <input type="text" name="lis_person_contact_email_primary" id="lis_person_contact_email_primary" value="<%= params.find(p => p.key === 'lis_person_contact_email_primary').value %>" >
            </div>
            <div class="form-group">
                <label for="lis_person_name_given">LIS Person Name Given:</label>
                <input type="text" name="lis_person_name_given" id="lis_person_name_given" value="<%= params.find(p => p.key === 'lis_person_name_given').value %>" >
            </div>
            <div class="form-group">
                <label for="lti_message_type">LTI Message Type:</label>
                <input type="text" name="lti_message_type" id="lti_message_type" value="<%= params.find(p => p.key === 'lti_message_type').value %>" >
            </div>
            <div class="form-group">
                <label for="lti_version">LTI Version:</label>
                <input type="text" name="lti_version" id="lti_version" value="<%= params.find(p => p.key === 'lti_version').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_consumer_key">OAuth Consumer Key:</label>
                <input type="text" name="oauth_consumer_key" id="oauth_consumer_key" value="<%= params.find(p => p.key === 'oauth_consumer_key').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_nonce">OAuth Nonce:</label>
                <input type="text" name="oauth_nonce" id="oauth_nonce" value="<%= params.find(p => p.key === 'oauth_nonce').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_signature_method">OAuth Signature Method:</label>
                <input type="text" name="oauth_signature_method" id="oauth_signature_method" value="<%= params.find(p => p.key === 'oauth_signature_method').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_timestamp">OAuth Timestamp:</label>
                <input type="text" name="oauth_timestamp" id="oauth_timestamp" value="<%= params.find(p => p.key === 'oauth_timestamp').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_version">OAuth Version:</label>
                <input type="text" name="oauth_version" id="oauth_version" value="<%= params.find(p => p.key === 'oauth_version').value %>" >
            </div>
            <div class="form-group">
                <label for="roles">Roles :</label>
                <input type="text" name="roles" id="roles" value="<%= params.find(p => p.key === 'roles').value %>" >
            </div>
             <div class="form-group">
                <label for="tool_consumer_info_product_family_code">Tool Consumer Info Product Family Code:</label>
                <input type="text" name="tool_consumer_info_product_family_code" id="tool_consumer_info_product_family_code" value="<%= params.find(p => p.key === 'tool_consumer_info_product_family_code').value %>" >
            </div>
            <div class="form-group">
                <label for="tool_consumer_instance_guid">Tool Consumer Instance GUID:</label>
                <input type="text" name="tool_consumer_instance_guid" id="tool_consumer_instance_guid" value="<%= params.find(p => p.key === 'tool_consumer_instance_guid').value %>" >
            </div> 
            <div class="form-group">
                <label for="tool_consumer_instance_name">Tool Consumer Instance Name:</label>
                <input type="text" name="tool_consumer_instance_name" sample-testid="tool_consumer_instance_name" value="<%= params.find(p => p.key === 'tool_consumer_instance_name').value %>" >
            </div> 
            <div class="form-group">
                <label for="user_id">User ID:</label>
                <input type="text" name="user_id" id="user_id" value="<%= params.find(p => p.key === 'user_id').value %>" >
            </div> 
            <div class="form-group">
                <label for="lis_outcome_service_url">lis_outcome_service_url</label>
                <input type="text" id="lis_outcome_service_url" name="lis_outcome_service_url" value="<%= params.find(p => p.key === 'lis_outcome_service_url').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_signature">OAuth Signature:</label>
                <input type="text" name="oauth_signature" id="oauth_signature" value="<%= params.find(p => p.key === 'oauth_signature').value %>" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <!-- <form id="submitLtiForm" action="http://localhost:3000/lti/launch" method="POST" class="border border-secondary p-4">
        <div class="form-group">
            <label for="context_id">Context ID:</label>
            <input type="text" name="context_id" id="context_id" value="<%= params.find(p => p.key === 'context_id').value %>"  >
        </div>
       
        <button type="submit" class="btn btn-primary">LTISubmit</button>
    </form> -->
</body>
</html>
