<!DOCTYPE html>
<html lang="en">
<head>
    <title>Parameter Values Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        input {
            background-color: #eee;
            opacity: 1;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <h1>Parameter Values Form</h1>
    <form id="submitForm" action="http://localhost:8080/oAuth" method="POST" class="border border-secondary p-4">
            <div class="form-group">
                <label for="lti_version">LTI Version:</label>
                <input type="text" name="lti_version" id="lti_version" value="<%= params.find(p => p.key === 'lti_version').value %>" >
            </div>
            <div class="form-group">
                <label for="launch_presentation_document_target">Launch Presentation Document Target:</label>
                <input type="text" name="launch_presentation_document_target" id="launch_presentation_document_target" value="<%= params.find(p => p.key === 'launch_presentation_document_target').value %>" >
            </div>
            <div class="form-group">
                <label for="tool_consumer_instance_guid">Tool Consumer Instance GUID:</label>
                <input type="text" name="tool_consumer_instance_guid" id="tool_consumer_instance_guid" value="<%= params.find(p => p.key === 'tool_consumer_instance_guid').value %>" >
            </div>
            <div class="form-group">
                <label for="tool_consumer_instance_name">Tool Consumer Instance Name:</label>
                <input type="text" name="tool_consumer_instance_name" id="tool_consumer_instance_name" value="<%= params.find(p => p.key === 'tool_consumer_instance_name').value %>" >
            </div>
            <div class="form-group">
                <label for="tool_consumer_info_product_family_code">Tool Consumer Info Product Family Code:</label>
                <input type="text" name="tool_consumer_info_product_family_code" id="tool_consumer_info_product_family_code" value="<%= params.find(p => p.key === 'tool_consumer_info_product_family_code').value %>" >
            </div>
            <div class="form-group">
                <label for="context_id">Context ID:</label>
                <input type="text" name="context_id" id="context_id" value="<%= params.find(p => p.key === 'context_id').value %>"  >
            </div>
            <div class="form-group">
                <label for="context_title">Context Title:</label>
                <input type="text" name="context_title" id="context_title" value="<%= params.find(p => p.key === 'context_title').value %>" >
            </div>        
            <div class="form-group">
                <label for="launch_presentation_return_url">Launch Presentation Return URL:</label>
                <input type="text" name="launch_presentation_return_url" id="launch_presentation_return_url" value="<%= params.find(p => p.key === 'launch_presentation_return_url').value %>" >
            </div>
            <div class="form-group">
                <label for="lis_person_contact_email_primary">LIS Person Contact Email Primary:</label>
                <input type="text" name="lis_person_contact_email_primary" id="lis_person_contact_email_primary" value="<%= params.find(p => p.key === 'lis_person_contact_email_primary').value %>" >
            </div>
            <div class="form-group">
                <label for="lis_person_name_given">LIS Person Name Given:</label>
                <input type="text" name="lis_person_name_given" id="lis_person_name_given" value="<%= params.find(p => p.key === 'lis_person_name_given').value %>" >
            </div>
            <div class="form-group">
                <label for="lti_message_type">LTI Message Type:</label>
                <input type="text" name="lti_message_type" id="lti_message_type" value="<%= params.find(p => p.key === 'lti_message_type').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_consumer_key">OAuth Consumer Key:</label>
                <input type="text" name="oauth_consumer_key" id="oauth_consumer_key" value="<%= params.find(p => p.key === 'oauth_consumer_key').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_nonce">OAuth Nonce:</label>
                <input type="text" name="oauth_nonce" id="oauth_nonce" value="<%= params.find(p => p.key === 'oauth_nonce').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_signature_method">OAuth Signature Method:</label>
                <input type="text" name="oauth_signature_method" id="oauth_signature_method" value="<%= params.find(p => p.key === 'oauth_signature_method').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_timestamp">OAuth Timestamp:</label>
                <input type="text" name="oauth_timestamp" id="oauth_timestamp" value="<%= params.find(p => p.key === 'oauth_timestamp').value %>" >
            </div>
            <div class="form-group">
                <label for="oauth_version">OAuth Version:</label>
                <input type="text" name="oauth_version" id="oauth_version" value="<%= params.find(p => p.key === 'oauth_version').value %>" >
            </div>
            <div class="form-group">
                <label for="roles">Roles :</label>
                <input type="text" name="roles" id="roles" value="<%= params.find(p => p.key === 'roles').value %>" >
            </div>
            <div class="form-group">
                <label for="user_id">User ID:</label>
                <input type="text" name="user_id" id="user_id" value="<%= params.find(p => p.key === 'user_id').value %>" >
            </div>
            <% if ( params.find(p => p.key === 'roles').value === 'Instructor') { %>
                <div class="form-group">
                    <label for="custom_domainid">Custom Domain ID:</label>
                    <input type="text" name="custom_domainid" id="custom_domainid" value="<%= params.find(p => p.key === 'custom_domainid').value %>" >
                </div> 
                <div class="form-group">
                    <label for="custom_courseid">Custom Course ID:</label>
                    <input type="text" name="custom_courseid" id="custom_courseid" value="<%= params.find(p => p.key === 'custom_courseid').value %>" >
                </div>   
                <div class="form-group">
                    <label for="custom_district_thumb">Custom District Thumbnail:</label>
                    <input type="text" name="custom_district_thumb" id="custom_district_thumb" value="<%= params.find(p => p.key === 'custom_district_thumb').value %>" >
                </div>
                <div class="form-group">
                    <label for="custom_domain_name">Custom Domain Name:</label>
                    <input type="text" name="custom_domain_name" id="custom_domain_name" value="<%= params.find(p => p.key === 'custom_domain_name').value %>" >
                </div>
                <div class="form-group">
                    <label for="custom_domain_thumb">Custom Domain Thumbnail:</label>
                    <input type="text" name="custom_domain_thumb" id="custom_domain_thumb" value="<%= params.find(p => p.key === 'custom_domain_thumb').value %>" >
                </div>
                <div class="form-group">
                    <label for="is_trial_plan">is_trial_plan</label>
                    <input type="text" id="is_trial_plan" name="is_trial_plan" value="<%= params.find(p => p.key === 'is_trial_plan').value %>" >
                </div>
                <div class="form-group">
                    <label for="custom_district_name">Custom District Name:</label>
                    <input type="text" name="custom_district_name" id="custom_district_name" value="<%= params.find(p => p.key === 'custom_district_name').value %>" >
                </div>
                <div class="form-group">
                    <label for="custom_district_plan">Custom District Plan:</label>
                    <input type="text" name="custom_district_plan" id="custom_district_plan" value="<%= params.find(p => p.key === 'custom_district_plan').value %>" >
                </div>
                <div class="form-group">
                    <label for="custom_instructor_classlist">Custom Instructor Class List:</label>
                    <input type="text" name="custom_instructor_classlist" id="custom_instructor_classlist" value="<%= params.find(p => p.key === 'custom_instructor_classlist').value %>" >
                </div>
                <div class="form-group">
                    <label for="custom_user_role">Custom User Role:</label>
                    <input type="text" name="custom_user_role" id="custom_user_role" value="<%= params.find(p => p.key === 'custom_user_role').value %>" >
                </div>
                <div class="form-group">
                    <label for="launch_url">Launch URL:</label>
                    <input type="text" name="launch_url" id="launch_url" value="<%= params.find(p => p.key === 'launch_url').value %>" >
                </div>
                <div class="form-group">
                    <label for="custom_user_account_type">Custom User Account Type:</label>
                    <input type="text" name="custom_user_account_type" id="custom_user_account_type" value="<%= params.find(p => p.key === 'custom_user_account_type').value %>" >
                </div>
                <% } else { %>
                
                <div class="form-group">
                    <label for="lis_outcome_service_url">lis_outcome_service_url</label>
                    <input type="text" id="lis_outcome_service_url" name="lis_outcome_service_url" value="<%= params.find(p => p.key === 'lis_outcome_service_url').value %>" >
                </div>
            <% } %>
            <div class="form-group">
                <label for="oauth_signature">OAuth Signature:</label>
                <input type="text" name="oauth_signature" id="oauth_signature" value="<%= params.find(p => p.key === 'oauth_signature').value %>" >
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>
